<div class="container">
    <h2 class="title">Available drones</h2>
    <div class="list-container">
        {{#each drones}}
        <div class="item-container">
            <ul>
                <h3>{{name}}</h3>
                <li>⚜️ Propellers: {{propellers}}</li>
                <li>⚡️ Max Speed: {{maxSpeed}}</li>
                <div class="btn-container">
                    <a href="/drones/{{id}}/edit"> <i class="far fa-edit fa-sm" style="color:#639B68"></i> </a>
                    <form action="/drones/{{id}}/delete" method="POST">
                        <button><i class="fas fa-trash-alt fa-lg" style="color:#8E1515"></i></button>
                    </form>
                </div>

            </ul>
        </div>
        {{/each}}
    </div>

    <a class="main-btn add-drone" href="/drones/create">Add a new Drone!</a>
</div>